.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#mainNav {
  background-color: #212529;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 8%;
}

.hamburger {
  display: inline-block;
  height: 30px;
  width: 38%;
  margin-left: 1px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
}

header.masthead {
  text-align: center;
  color: #fff;
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.hidden-header {
  display: none;
}

.intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 5%;
}

#services {
  padding: 100px 0;
}

section {
  padding: 100px 0;
}

.cart-bg {
  height: 75px;
  width: 100px;
  background: #fed136;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
}

.cart {
  width: 60px;
}

.text-center {
  text-align: center;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
  color: #6c757d !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.py-5 {
  padding-top: 3rem !important;
}

section#contact {
  background-color: #212529;
  background-image: url(../img/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  padding: 25px 0;
  text-align: center;
}

@media (min-width: 992px) {
  #mainNav {
    padding: 50px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  .navbar-toggler {
    display: none !important;
  }
  div .hidden-header {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    color: #fff;
  }
  div .navbar-list {
    flex-direction: row;
    display: flex;
  }
  div .li-list {
    margin-right: 50px;
  }
  div .navbar-brand {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  header.masthead {
    height: 100vh;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
}
